/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

/* RESET DEFAULT STYLES FOR ALL ELEMENTS */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box; /* Makes layout calculation easier */
}

/* BASE STYLES FOR HTML AND BODY */
html,
body,
#root {
  min-height: 100vh;
  min-height: 100dvh; /* Fixes height bug on mobile browsers */
  -webkit-font-smoothing: antialiased; /* Makes fonts look smoother */
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: 1.2; /* Adds small space between lines so text does not overlap */
}

/* LINKS AND LISTS */
a {
  text-decoration: none;
  color: inherit; /* Inherits color from the parent element */
  display: inline-block;
}

li {
  list-style: none; /* Removes default dots or numbers from lists */
}

/* IMAGES */
img {
  vertical-align: top;
  max-width: 100%; /* Prevents images from breaking the layout */
  height: auto;
}

/* HEADINGS */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; /* Removes default browser sizes for headings */
}

/* FORM ELEMENTS */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent; /* Removes default grey background */
}

button,
select,
option {
  cursor: pointer; /* Shows hand icon on hover */
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
  appearance: none;
  outline: none; /* Removes default browser blue outline */
}

/* =========================================================== */
/* Design tokens */
:root {
  --padding-16-0: clamp(0.625rem, 0.5179rem + 0.5357vw, 1rem);
  --fz-header-0: clamp(1.25rem, 1.1071rem + 0.7143vw, 1.75rem);
  --fz-22-18-0: clamp(1.125rem, 1.0536rem + 0.3571vw, 1.375rem);
  --padding-15: .9375rem;

  /* Color */
  --dark-grey: #333333;
  --forest-green: #156621;
  --light-gray: #cccccc;
  --steel-gray: #666666;
  --strong-red: #ca2c29;
  --gray-100: #f3f4f6;
  --gunmetal: #353d4e;
  --light-gray-blue: #e7e9ee;
  --cool-gray:  #6b7280; 
   --azure-blue: #3170c1;
  --white: #fff;
  --bg-income-btn: #478b49;
  --bg-income-hover: #176119;
  --bg-expense-btn: #d4341e;
  --bg-expense-hover: #912314;

}

.container {
    padding: 0 var(--padding-15);
    max-width: 75rem;
    margin:  0 auto;
    width: 100%;
}

/* Global Typography */
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
